* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header_wrapper {
    width: 1280px;
    margin: 0 auto;
}

.nav_menu_header {
    width: 637px;
    margin: auto;
    padding-top: 31.5px;
    padding-bottom: 31.5px;
    list-style: none;
}

.nav_menu_item {
    display: inline;
}

.nav_menu_link {
    margin-right: 72px;
}

.nav_menu_link_other {
    margin-right: 50px;
}

.nav_menu_header li a {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF0000;
}

.image_wrapper {
    height: 789px;
}

.image {
    width: 100%;
}

.content_wrapper {
    width: 1280px;
    margin: 0 auto;
}

.title_content {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
    padding-top: 48px;
    margin-bottom: 38px;
}

.text_content {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: center;
    padding: 0 68px;
    margin-bottom: 28px;
}

.button {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 4px;
    border: none;
    padding: 18px 43px;
    margin: auto;
    margin-top: 66px;
    cursor: pointer;
}

.footer_wrapper {
    width: 1280px;
    margin: 0 auto;
}

.text_footer {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
    padding: 82px 105px 29px 0;
}
